<form action="/landmarks" method="POST">
  <input id= "landmark_name" type="text" name="landmark[name]" value="">
  <input id= "landmark_year_completed" type="text" name="landmark[year_completed]" value="">
  <input type="submit" value="Create New Landmark">
</form>
